/* .container-fluid{
   
    position:relative;
    height: 500px;
    width: 300px;
}
.container-fluid img{
   
    height: 200px;
    width: 100%;
} */
/* .container-fluid{
    background-color: grey;
} */
.container-fluid .cards-shadow{
    margin-top: 200px;
box-shadow: 3px 10px 20px black;
border-radius: 20px;
text-align: center;
font-size: 2rem;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(251, 253, 253);
    height: 200px;
    width: 100%;
    margin-bottom:50px;
    box-shadow: 0px 10px 20px black;
    
}
.flex1{
    flex: 18%;
    /* margin:0px 12px; */
    background-color:rgb(12, 1, 1);
    color:white;
    font-size: 5rem;
    text-align: center;
  
   
}
.flex1 h1{
    margin-top: 98px;
    margin-right: 10px;
}